<form name="InputUserTypeForm" method="post">
    <div class="form-label">Select user by</div>
    <div class="mb-3">
        <button type="submit" formaction="{{ url_for('user_type_select', handle_type=0 ) }}"
                class="btn {% if not session.get('preferUserQuery') %} btn-primary {% else %} btn-outline-primary {% endif %}">
            Imienia
        </button>
        <button type="submit" formaction="{{ url_for('user_type_select', handle_type=1 ) }}"
                class="btn {% if session.get('preferUserQuery') %} btn-primary {% else %} btn-outline-primary {% endif %}">
            Login
        </button>
    </div>
</form>
