{% extends 'base.html' %}
{% block title %} Kontroler wirtualnych pracowni komputerowych {% endblock %}

{% block user_control %}
    <a class="col-auto btn btn-primary" href="{{ url_for('core.add_group') }}">Dodaj Grupę</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('core.group_list') }}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="InputSearch" placeholder="Search groups"
                           aria-label="Search groups" aria-describedby="search-button" value="{{ request.form['InputSearch'] }}">
                    <button class="btn btn-outline-secondary" type="submit" id="search-button">
                        <span class="fas fa-search"></span>Szukaj
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="list-group">
        {% for group in groups %}
            <a class="list-group-item list-group-item-action {{ loop.cycle('bg-light', 'bg-white') }}" href="{{ url_for('core.group_edit', group_id=group['groupID']) }}">
                <div class="row justify-content-between">
                    <div class="col-auto">{{ group['groupName'] }}</div>
                    <span class="col-auto fas fa-chevron-right"></span>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}